<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devops.study.devopsdemo.dao.DockerMapper">
    <select id="loginRow"
            parameterType="com.devops.study.devopsdemo.domain.UserRequestDTO"
            resultType="com.devops.study.devopsdemo.domain.UserResponseDTO">
        SELECT ID,PWD, NAME
        FROM   project_user_tbl
        WHERE ID=#{id} AND PWD=#{pwd}
    </select>
    <insert id="joinRow"
                parameterType="com.devops.study.devopsdemo.domain.UserRequestDTO">
        INSERT INTO project_user_tbl(ID, PWD, NAME)
        VALUES(#{id}, #{pwd}, #{name})
    </insert>
</mapper>